h1 {
    font-size: 1.5em;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    color: rgb(43, 43, 43);
}

p {
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    color: rgb(43, 43, 43);
}

#content {
    padding: 20px 10px 20px 10px;
    margin: auto;
    min-width: 500px;
    width: 80%;
    background-color: rgb(247, 247, 247);
    margin-top: 200px;
}
